@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@500;600&family=Quicksand&family=Raleway&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2e2e2;
}

.container {
  background-color: #e2e2e2;
  height: 550px;
  width: 400px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 8px 8px 16px #c2c2c2, -5px -5px 16px #fff;
}

.container h1 {
  font-family: "Quicksand", sans-serif;
  text-shadow: 2px 2px 5px #858383, -2px -2px 5px #fff;
}
.container h4 {
  font-family: sans-serif;
  letter-spacing: 4px;
  color: #727171;
  font-weight: 100;
  text-shadow: 1px 1px 2px #727171, -3px -3px 6px #fff;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.input {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

input {
  border: none;
  outline: none;
  width: 250px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 0 15px;
  background: none;
  box-shadow: 3px 3px 6px #c1bebe, -3px -3px 6px #fff;
}

.items button {
  width: 160px;
  height: 35px;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #45a1f7;
  transition: all 0.25s;
  cursor: pointer;
  letter-spacing: 2px;
}

.items button:hover {
  background-color: #178bf7;
}

.items button:hover:active {
  background-color: #79bbf8;
}

.link {
  padding-top: 50px;
  margin-top: 20px;
  font-family: sans-serif;
}
.link a {
  text-decoration: none;
  color: #5c5b5b;
}
